################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CVR-Keybinds/.vs/Keybinds/v16/.suo
/CVR-Keybinds/.vs/slx.sqlite
/.vs/slnx.sqlite
*.suo
*.cache
*.sqlite-journal
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/.vs/Keybinds
/CVR-Keybinds/.vs/CVR-Keybinds/FileContentIndex
/CVR-Keybinds/.vs/CVR-Keybinds/v17
/CVR-Keybinds/obj
/CVR-Keybinds/bin
/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/obj
/bin
/.vs/CVR-Keybinds/FileContentIndex/05c21cc7-9d0e-4018-a119-10f94963725f.vsidx
